#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized always!
    %button= link_to "Enter", new_user_registration_path
#callout
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, sed id nonumes dissentiunt, in pri rebum legimus, fugit mazim eam ea. Duo cu fuisset scripserit. Nam no mazim vocibus, mei purto consul ut. Consequat reprimique eum an, eu iriure eripuit repudiare vis, mei ad quas electram. Wisi audiam tibique ex qui, aliquid detracto in vel.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
